<section class="w-full flex justify-center items-center h-157 bg-[#EAF0FF] font-inter">
  <div class="max-w-374.25 w-full h-full flex flex-1 justify-between items-center mt-12">
    <div #content class="max-w-163 w-full flex flex-col gap-12.5">
      <div class="flex flex-col w-full gap-2.5">
        <h1 class="text-[47px] font-bold text-[#3C3C3C] leading-13">
          Conectamos prestadores de serviços independentes com você, junte-ao
          <span class="text-primary animate-pulse"> MeSafa. </span>
        </h1>

        <p class="text-[13px] text-[#8B8B8B]">
          Queremos que você tenha uma vida mais tranquila, e que não se preocupe em sair de casa
          para achar profissionais para o ajudar com algum serviço. Explore nossa Aplicação e se
          Safe.
        </p>
      </div>

      <div class="flex flex-col gap-2.5">
        <h3 class="text-[15px] font-semibold">Descarregue a Aplicação MeSafa</h3>

        <div class="flex gap-2.5">
          <a routerLink="" class="hover:opacity-80 transition-all duration-300 cursor-pointer hover:scale-105">
            <img src="/images/landing/hero/apple-store.svg" alt="Apple Store" />
          </a>

          <a routerLink="" class="hover:opacity-80 transition-all duration-300 cursor-pointer hover:scale-105">
            <img src="/images/landing/hero/google-play.svg" alt="Google Play" />
          </a>
        </div>
      </div>
    </div>

    <div #image class="max-w-210 w-full h-full flex justify-center items-center">
      <img src="/images/landing/hero/professionals.svg" alt="Profissionais" />
    </div>
  </div>
</section>
