<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/50 p-4">
  <div
    class="bg-white max-w-273 rounded-[20px] p-10 shadow-2xl w-full overflow-hidden relative border border-gray-100"
  >
    <div class="flex justify-between items-center mb-4.75">
      <div class="w-full flex-col">
        <h3 class="text-2xl font-semibold text-gray-800">Associar Serviço a Profissional</h3>
        <p class="text-[15px] text-[#797979] font-medium">
          Associe de maneira eficiente e rápida os profissionais
        </p>
      </div>

      <button
        (click)="onClose()"
        type="button"
        class="p-1 w-8 h-8 flex items-center justify-center rounded-full text-[#464E5F] hover:text-gray-500 bg-gray-100 transition-colors cursor-pointer"
      >
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>

    <hr class="border-gray-200" />

    <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 mt-6">
      <div class="flex flex-col gap-1">
        <label class="text-[13px] font-medium">Profissional</label>
        <div
          class="flex bg-[#F4F4F4] gap-2 border-3 border-[#EEEEEE] focus-within:ring-tertiary focus-within:ring-2 focus-within:bg-white text-xs rounded-xl py-2.5 px-3 text-gray-700 outline-none transition-al"
        >
          <img src="/images/icons/dashboard/form-user.svg" alt="" />
          <select formControlName="professionalId" class="w-full outline-none">
            <option [ngValue]="null" disabled>Selecione um profissional...</option>
            @for (item of collaborators(); track item.id) {
              <option [value]="item.id">
                {{ item.name }}
              </option>
            }
          </select>
        </div>
        @if (
          serviceForm.get('professionalId')?.touched && serviceForm.get('professionalId')?.invalid
        ) {
          <span class="text-xs text-red-500 mt-1 block">O profissional é obrigatório.</span>
        }
      </div>

      <div class="flex flex-col gap-1">
        <label class="text-[13px] font-medium">Serviço</label>
        <div
          class="flex bg-[#F4F4F4] gap-2 border-3 border-[#EEEEEE] focus-within:ring-tertiary focus-within:ring-2 focus-within:bg-white text-xs rounded-xl py-2.5 px-3 text-gray-700 outline-none transition-al"
        >
          <img src="/images/icons/dashboard/form-user.svg" alt="" />
          <select formControlName="serviceId" class="w-full outline-none">
            <option [ngValue]="null" disabled>Selecione um serviço...</option>
            @for (service of availableServices(); track service.id) {
              <option [value]="service.id">
                {{ service.name }}
              </option>
            }
          </select>
        </div>
        @if (serviceForm.get('serviceId')?.touched && serviceForm.get('serviceId')?.invalid) {
          <span class="text-xs text-red-500 mt-1 block">O serviço é obrigatório.</span>
        }
      </div>

      <div class="pt-4 mt-2 flex gap-2 border-t border-gray-100">
        <button
          type="submit"
          [disabled]="isSubmitting()"
          class="bg-tertiary hover:bg-tertiary min-w-36 justify-center text-white font-medium text-xs px-2.5 py-3 rounded-lg transition-all duration-300 disabled:opacity-50 cursor-pointer flex items-center gap-2"
        >
          @if (isSubmitting()) {
            <div
              class="w-3.5 h-3.5 border-2 border-t-transparent border-white rounded-full animate-spin"
            ></div>
            A processar...
          } @else {
            Associar Serviço
          }
        </button>

        <button
          type="button"
          (click)="onClose()"
          class="bg-[#B5B5C3] hover:bg-gray-400 text-white font-medium text-xs px-2.5 py-3 rounded-lg transition-all duration-300 cursor-pointer min-w-36 flex items-center justify-center"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
