<footer class="w-full bg-gray-900 text-slate-300 py-6 px-8 ">
  <div
    class="max-w-374.25 mx-auto w-full flex flex-col sm:flex-row items-center justify-between gap-4"
  >
    <div class="flex items-center space-x-2">
      <img src="/images/logos/logo-white.svg" alt="Logotipo White" class="w-20" />
      <span class="text-sm text-white/90">© {{ currentYear }} Todos os direitos reservados.</span>
    </div>

    <div>
      <a
        routerLink="/login"
        class="inline-flex items-center cursor-pointer text-sm font-medium text-white hover:text-primary hover:cursor-pointer hover:scale-105 rounded-lg transition-all duration-200 shadow-sm"
      >
        Área Reservada / Login
      </a>
    </div>
  </div>
</footer>
