<header class="w-full flex justify-center items-center bg-white py-5 px-4 font-inter shadow-black/5 shadow-md sticky top-0 z-50">
  <nav class="max-w-374.25 w-full flex items-center justify-start gap-10.25">
    <a routerLink="/">
      <img src="/images/logos/logo.svg" alt="Logo" class="w-26.5 h-10 object-fit" />
    </a>

    <ul class="flex items-center justify-start gap-4">
      @for (item of navItems; track item.id) {
        <li class="transition-transform cursor-pointer duration-300 hover:scale-105">
          <a
            [routerLink]="item.link"
            class="text-sm font-semibold hover:text-primary"
          >
            {{ item.label }}
          </a>
        </li>
      }
    </ul>
  </nav>
</header>
