<header class="px-8.75 py-3.75 bg-primary flex items-center justify-between font-inter z-50">
  <a routerLink="/dashboard">
    <img src="/images/logos/logo-white.svg" alt="Logo" class="w-26.75" />
  </a>

  <div
    class="flex bg-white p-2.5 rounded-lg max-w-77.5 w-full gap-3.75 items-center border border-primary shadow-white/30 shadow-sm shadow-"
  >
    <img src="/images/icons/search.svg" alt="Search" class="w-4.75 h-4.75" />
    <input
      type="text"
      placeholder="Procurar..."
      class="placeholder:text-[#9A9FA5] placeholder:font-semibold placeholder:text-[15px] outline-none w-full"
    />
  </div>

  <button
    class="flex items-center text-primary gap-2 bg-white py-2.25 px-2.5 rounded-lg hover:opacity-80 transition-all duration-300 cursor-pointer hover:scale-105"
  >
    @if (admin()?.image) {
      <img [src]="admin()?.image" alt="User" class="w-6.25 h-6.25" />
    } @else {
      <img src="/images/icons/dashboard/user.svg" alt="User" class="w-6.25 h-6.25" />
    }

    <span class="text-xs font-semibold">{{ admin()?.name }}</span>

    <img src="/images/icons/dashboard/chevron-down.svg" alt="User" class="w-2 h-1" />
  </button>
</header>
