<div class="flex flex-col gap-2.5">
  <div class="flex items-center gap-2">
    <h1 class="text-[#121212] text-[25px] font-semibold">{{ title() }}</h1>

    @if ((total() ?? 0) > 0) {
      <div
        class="text-white text-[15px] bg-[#3278FF] min-w-12.5 flex justify-center items-center px-2.5 py-2.5 rounded-lg font-semibold"
      >
        {{ total() }}
      </div>
    }
  </div>

  <p class="text-[#737791] text-[13px]">
    {{ subtitle() }}
  </p>

  <ul class="flex gap-1.25 items-center text-xs text-[#8A8A8A]">
    <li class="flex items-center gap-1.25">
      <img src="/images/icons/dashboard/title-header/admin.svg" alt="" /> Admin: {{ name() }}
    </li>

    @if (role()) {
      <li class="flex items-center gap-1.25">
        <img src="/images/icons/dashboard/title-header/role.svg" alt="" /> Função: {{ role() }}
      </li>
    }
  </ul>
</div>
